@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  /* background-color: #000000; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  width: 450px;
  min-height: 100vh;
}

/* Home */
.Home {
  width: 450px;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Home .home-img {
  padding-bottom: 50px;
}

.Home .home-button {
  background: #ffffff;
  width: 172px;
  height: 88px;
  top: 402px;
  left: 94px;
  border-radius: 20px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

/* Header */
.Header {
  height: 57px;
  width: 440px;
  top: 0px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  background-color: black;
  box-shadow: 0px 4px 4px 0px #00000040;
  position: sticky;
}

/* Items */
.Items {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 10px;
}

.Items .item-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  list-style: none;
  width: 355px;
  height: 85px;
  top: 76px;
  left: 25px;
  border-radius: 10px;
  border: 1px solid #0000004d;
  margin-bottom: 20px;
}

.Items img {
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.Items .item-name {
  width: 75px;
  height: 23px;
  padding-top: 9px;
  padding-left: 9px;
}

.Items .item-price {
  padding-top: 50px;
  padding-right: 10px;
  margin-left: 67px;
}

.Items .item-materialType {
  padding-top: 15px;
}

.Items .item-materialType button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  size: 18px;
}

/* Footer */
.Footer {
  width: 450px;
  height: 170px;
  position: sticky;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.25);
}

.Footer button {
  position: relative;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  width: 300px;
  height: 48px;
  top: 100px;
  left: 75px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.Footer .footer-text {
  position: relative;
  width: fit-content;
  left: 280px;
  top: -25px;
  font-size: 18px;
}
