@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

#root {
  /* background-color: #000000; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  width: 450px;
  min-height: 100vh;
}

/* Home */
.Home {
  width: 450px;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Home .home-img {
  padding-bottom: 50px;
  width: 150px;
}

.Home .home-button {
  background: #000000;
  color: #fff;
  width: 150px;
  height: 60px;
  top: 402px;
  left: 94px;
  border: #fff;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

/* Header */
.Header {
  height: 57px;
  width: 440px;
  top: 0px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 3px 0px #00000040;
}

.Header p {
  font-weight: bold;
  font-size: 18px;
}

/* Weather */
.Weather {
  padding: 0;
  width: 400px;
  height: 255px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgba(93, 88, 88, 0.455);
  border-radius: 20px;
  text-align: center;
}

.Weather .list {
  position: relative;
  width: 355px;
  top: 20px;
  left: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Weather .name {
  position: relative;
  font-size: 25px;
}

.Weather .description {
  position: relative;
  top: 20px;
  left: 50px;
}

.Weather img {
  position: absolute;
  top: 30px;
  left: 125px;
}

.Weather .temp {
  position: relative;
  top: 53px;
}
.temp_set {
  position: relative;
  top: 60px;
}

.Map {
  width: 500px;
  height: 400px;
}
