@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}

@media (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

.App {
  width: 450px;
  min-height: 100vh;
}

/* Home */
.Home {
  width: 450px;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Home .home-img {
  padding-bottom: 50px;
  width: 225px;
}

.Home .home-button {
  /* font-family: 'Open Sans', sans-serif; */
  background: rgb(0, 0, 0);
  color: #ffffff;
  width: 200px;
  height: 60px;
  top: 402px;
  left: 94px;
  border: #fff;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

/* Header */
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 57px;
  width: 100%px;
  top: 0px;
  padding: 10px 0px;
  background-color: rgb(255, 255, 255);
}

.Header img {
  width: 40px;
  cursor: pointer;
}

.Header ul {
  list-style: none;
  padding: 10px;
  height: 100vh;
}

.Header li {
  padding: 20px 0 19px 26px;
  cursor: pointer;
  font-weight: bold;
}

.menu {
  width: 100%;
  min-width: 450px;
  position: relative;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
}

/*Header-toggle🖐*/

.nav-links .show-nav {
  overflow: hidden;
}

.hidden {
  display: none;
}

/* Weather */

.Weather {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 20px;
}

.Weather .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid rgba(93, 88, 88, 0.455);
  border-radius: 20px;
  width: 448px;
  height: 180px;
  font-weight: bold;
  margin-bottom: 50px;
}

.Weather .description {
  position: sticky;
}

.Weather img {
  position: sticky;
}

.Weather h4 {
  margin-top: 18px;
}

/* MAP */

.Map {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

/* Dust */
.Dust {
  position: relative;
  left: 119px;
  top: -150px;
}

/* News */
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f4f5f7;
  width: 100%;
  height: 70px;
}

.search-box p {
  position: relative;
  left: 130px;
  color: #00000061;
}

.search-box img {
  position: sticky;
  width: 24px;
  height: 24px;
  padding-right: 12px;
  cursor: pointer;
}

.NewsAPI {
  padding-top: 28px;
}

.result-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  list-style: none;
}

.NewsAPI li {
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #5455572e;
}

.NewsAPI a {
  color: rgba(0, 0, 0, 0.4);
}

/*CheckList*/
.CheckList {
  padding-top: 60px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.CheckList button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.CheckList input {
  border: 1px solid black;
  width: 340px;
  height: 50px;
  margin-right: 50px;
  font-size: 16px;
}

.check-form {
  height: 550px;
}

.check-form p {
  color: #868585;
  font-size: 16.5px;
}
